<main>
  <form action="/admin/add-product" method="POST" class="product-form">
    <div class="form-control">
      <label for="title">Enter Product</label>
      <input type="text" name="title" id="title" />
    </div>

    <button type="submit">Add Product</button>
  </form>
</main>